<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colors</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
<h1 class="text-center title">COLORS</h1>
<hr>
<br><br>
<!--<div class="container">-->
<!--    <div class="row justify-content-md-center ">-->
<!--        <div class="col-lg-8">-->
<!--            <a href="#" type="button" class="btn btn-primary btn-block">New game</a>-->
<!--            <div class="btn-group btn-block">-->
<!--                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
<!--                    Difficulty level-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
<!--                    <div class="data-game-level" data-level="easy"><a class="dropdown-item text-center"-->
<!--                                                                      href="#">Easy</a></div>-->
<!--                    <div class="data-game-level" data-level="hard"><a class="dropdown-item text-center"-->
<!--                                                                      href="#">Hard</a></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="grid-container">

    <div class="card" data-hidden-card="true" id="1" data-color="color-1"></div>
    <div class="card" data-hidden-card="true" id="2" data-color="color-1"></div>
    <div class="card" data-hidden-card="true" id="3" data-color="color-2"></div>
    <div class="card" data-hidden-card="true" id="4" data-color="color-2"></div>

    <div class="card" data-hidden-card="true" id="5" data-color="color-3"></div>
    <div class="card" data-hidden-card="true" id="6" data-color="color-3"></div>
    <div class="card" data-hidden-card="true" id="7" data-color="color-4"></div>
    <div class="card" data-hidden-card="true" id="8" data-color="color-4"></div>

    <div class="card" data-hidden-card="true" id="9" data-color="color-5"></div>
    <div class="card" data-hidden-card="true" id="10" data-color="color-5"></div>
    <div class="card" data-hidden-card="true" id="11" data-color="color-6"></div>
    <div class="card" data-hidden-card="true" id="12" data-color="color-6"></div>

    <div class="card" data-hidden-card="true" id="13" data-color="color-7"></div>
    <div class="card" data-hidden-card="true" id="14" data-color="color-7"></div>
    <div class="card" data-hidden-card="true" id="15" data-color="color-8"></div>
    <div class="card" data-hidden-card="true" id="16" data-color="color-8"></div>

</div>


<script>

    let gameCards = document.querySelectorAll(".card");
    let currentPairOfColors = [];
    let selectedCardsIds = [];

    function mixCardsColor() {
            letgit colorsPalette = ["color-1", "color-1", "color-2", "color-2", "color-3", "color-3", "color-4", "color-4", "color-5", "color-5", "color-6", "color-6", "color-7", "color-7", "color-8", "color-8"];
            colorsPalette.sort(() => 0.5 - Math.random());
            console.log(colorsPalette);
            for (let i=0;i<16;i++) {
                gameCards[i].setAttribute("data-color", colorsPalette[i]);
            }
        }

    mixCardsColor();


    for (let gameCard of gameCards) {
        gameCard.addEventListener("click", flipCardHandler);
    }

    function flipCardHandler(e) {


        if (this.getAttribute("data-hidden-card") === "true") {

        this.classList.add("flip");
        this.setAttribute("data-hidden-card", "false");

        checkGameStatus();

        let getCardColor = this.getAttribute('data-color');
        currentPairOfColors.push(getCardColor);
        selectedCardsIds.push(this.getAttribute('id'));
        // console.log(getCardColor);
        // console.log(currentPairOfColors);

        if (selectedCardsIds.length === 2 && selectedCardsIds[0] !== selectedCardsIds[1]) {

            setTimeout(checkForMatch, 500);

            function checkForMatch() {
                if (currentPairOfColors[0] !== currentPairOfColors[1] && selectedCardsIds[0] !== selectedCardsIds[1]) {
                    console.log("Not the same colors");

                    let firstCard = document.getElementById(selectedCardsIds[0]);
                    let secondCard = document.getElementById(selectedCardsIds[1]);

                    firstCard.setAttribute("data-hidden-card", "true");
                    firstCard.classList.remove("flip");

                    secondCard.setAttribute("data-hidden-card", "true");
                    secondCard.classList.remove("flip");

                    selectedCardsIds = [];
                    currentPairOfColors = [];

                    } else {
                        console.log("great!");
                        selectedCardsIds = [];
                        currentPairOfColors = [];

                }
            }

        }

        function checkGameStatus() {
            let hiddenCards = 16;
            for (let card of gameCards) {
                if (card.getAttribute("data-hidden-card") == "false") {
                    hiddenCards--;
                }
            }
            if (hiddenCards == 0) {
                alert("You won");
            }
        }


    }

    }


</script>
</body>
</html>