<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../game.js"></script>

</head>
<body>
<h1 class="text-center">Javascript Game</h1>
<br><br>
<hr>
<br><br>
<div class="container">
    <div class="row justify-content-md-center ">
        <div class="col-lg-8">
            <a href="#" type="button" class="btn btn-primary btn-block">New game</a>
            <div class="btn-group btn-block">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Difficulty level
                </button>
                <div class="dropdown-menu">
                    <div class="data-game-level" data-level="easy"><a class="dropdown-item text-center"
                                                                      href="#">Easy</a></div>
                    <div class="data-game-level" data-level="hard"><a class="dropdown-item text-center"
                                                                      href="#">Hard</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="board">
    <div class="row">
        <div class="col-lg-3 card back-side" id="1" data-side="front" ></div>
        <div class="col-lg-3 card back-side" id="2" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="3" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="4" data-side="back"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 card back-side" id="5" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="6" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="7" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="8" data-side="back"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 card back-side" id="9" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="10" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="11" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="12" data-side="back"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 card back-side" id="13" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="14" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="15" data-side="back"></div>
        <div class="col-lg-3 card back-side" id="16" data-side="back"></div>
    </div>
</div>
<br><br>



<script>

    var pairs = [["1","2", "color-1","0"],["3","4","color-2","1"],["5","6","color-3","2"],["7","8","color-4","3"],["9","10","color-5","4"],["11","12", "color-6","5"],["13","14","color-7","6"],["15","16","color-8","7"]];
    var currentPair = [];
    let gameCards = document.querySelectorAll(".back-side");
    let currentlyFlippedCards = document.getElementsByClassName("currently-flipped");
    for (let card of gameCards) {
        card.addEventListener("click", flipCardHandler);
    }

    function flipCardHandler(e) {
        for (let card of gameCards) {
            if (currentlyFlippedCards.length < 2) {
                this.classList.add("currently-flipped");
                // for (let i=0;i<pairs.length;i++) {
                //     if (this.id == pairs[i][0] || this.id == pairs[i][1]) {
                //         this.classList.add(pairs[i][2]);
                //         currentPair.push(i);
                //     }
                for (let pair of pairs) {
                    if (this.id == pair[0] || this.id == pair[1]) {
                    this.classList.add(pair[2]);
                    currentPair.push(pair[3]);
                }
                }
            } else if (currentlyFlippedCards.length == 2) {
                // warunek na sparowanie
                // usuń klasę backside i dodaj frontside
                // if (currentPair[0] == currentPair[1]) {
                //     alert("hurra");
                // }
                // this.classList.add("front-side");
                // this.classList.remove("back-side");
                alert("hurra");
            } else {
                // warunek gdy nie są sparowane
                // usuń klasę currently_flipped
                this.classList.remove("currently-flipped")
             }
        }
    }


// {#    #TODO Karta musi byc szara by móc ją odwrócić (atrybut false?)#}
// {#            Tylko dwie karty na raz mogą być odwrócone#}
// {##}
// {#Żeby Karty pozostały odwrócone musza miec ten sam kolor#}
// {#Jezeli rozny kolor stają sie z powrotem na szaro#}

</script>
</body>
</html>