.dropdown-menu {
    width: 100%;
}

.card {
    width: 100px;
    height: 100px;
}



[id="1"], [id="2"] {
    background-color: red;
}


[id="3"], [id="4"] {
    background-color: blue;
}

[data-hidden-card="true"] {
    background-color: grey;
}